#color1, #color2, #color3, #color4,
#color5, #color6, #color7, #color8, 
#color9 {
    height: 130px;
    border-radius: 5%;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(0,255,255);
}